# Base
BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
ColumnLimit: 120

# SortIncludes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup

# Comments
ReflowComments: true
FixNamespaceComments: true

# Spacing
UseTab: Never
SpacesInAngles: Leave
IndentRequiresClause: true
BitFieldColonSpacing: Both
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: false

# Alignment
PointerAlignment: Left
AlignEscapedNewlines: Left
AlignTrailingComments: true
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignOperands: AlignAfterOperator
AlignConsecutiveMacros: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveAssignments: Consecutive

# Wrapping
MaxEmptyLinesToKeep: 1
BinPackArguments: false
BinPackParameters: false
InsertTrailingCommas: Wrapped
SeparateDefinitionBlocks: Always
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
PackConstructorInitializers: NextLine
AllowAllArgumentsOnNextLine: true
AllowShortLambdasOnASingleLine: All
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: Yes
BreakInheritanceList: BeforeColon
BreakBeforeConceptDeclarations: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: true
